* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 50vh;
  /* background: rgb(72, 166, 235); */
  background: linear-gradient(
    1000deg,
    rgba(72, 166, 235, 1) 0%,
    rgba(212, 82, 82, 1) 100%
  );
  margin-top: 2rem;
}

nav {
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-bottom: 50rem; */
}
nav a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
nav .btn {
  padding: 20px 30px;
  background: #fff;
  margin: auto;
  border-radius: 40px;
}
.model {
  margin-top: 10rem;
}
.hidden {
  display: none;
}
.model .contant {
  margin-top: 2rem;
  padding: 5rem;
  width: 60%;
  margin: auto;
  background: #fff;
  position: relative;
  z-index: 10;
}
.model .contant .closeWindow button {
  position: absolute;
  right: 2rem;
  top: 1rem;
  z-index: 10;
  padding: 10px;
  background: none;
  border: none;
  /* background: #000; */
  font-size: 2rem;
  color: #000;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 5;
  /* background: rgb(0, 0, 0, 0.6);  */
}
