@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --white-color: #fff;
  --blue-color: #130f40;
  --bg-blue: #3867d6;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8bc6ec;
  background-image: linear-gradient(315deg, #8bc6ec 0%, #9599e2 100%);
  font-family: "Mulish", sans-serif;
}
/*
.container {
  background: var(--bg-blue);
  padding: 5rem 6rem;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 55px 50px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: var(--white-color);
}
.container h1 {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 3rem;
}
.container .form-box {
  position: relative;
  margin: 1.2rem 0 2.6rem;
  width: 18.75rem;
}
.container .form-box input {
  display: block;
  border: 0;
  background: transparent;
  border-bottom: 1px solid var(--white-color);
  width: 100%;
  outline: 0;
  color: var(--white-color);
  font-size: 1.5rem;
  padding: 0.8rem 0;
}
.container .text a {
  color: var(--blue-color);
  border-radius: 5px;
}
.container .btn {
  display: inline-block;
  width: 100%;
  background: var(--blue-color);
  text-align: center;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  cursor: pointer;
}
.btn:focus {
  outline: 0;
}
.btn:active {
  transform: scale(0.98);
}
*/
.container {
  background: var(--bg-blue);
  padding: 5rem 6rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 55px 50px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: var(--white-color);
}

.container h1 {
  margin-bottom: 5rem;
  text-align: center;
  font-size: 3rem;
}

.container .form-box {
  position: relative;
  margin: 1.3rem 0 2.6rem;
  width: 18.75rem;
}
.container .form-box input {
  display: block;
  width: 100%;
  background: transparent;
  outline: 0;
  border: 0;
  border-bottom: 1px solid var(--white-color);
  padding: 0.8rem 0;
  color: var(--white-color);
  font-size: 1.5rem;
}
.container .form-box label {
  position: absolute;
  top: 15px;
  left: 0;
}
.container a {
  color: var(--blue-color);
}

.container .btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: var(--blue-color);
  font-weight: bolder;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  cursor: pointer;
}
.container .form-box input:focus,
.container .form-box input:valid {
  outline: 0;
  border-bottom-color: var(--blue-color);
}
.container .btn:active {
  transform: scale(0.98);
}

.container .form-box label span {
  display: inline-block;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-box input:focus + label span,
.form-box input:valid + label span {
  color: var(--blue-color);
  transform: translateY(-2.8rem);
}
